.grey-bg {
  background-color: #f9f9f9;
  padding: 30px 0; }

.margin-0 {
  margin: 0; }

.margin-top-0 {
  margin-top: 0; }

.margin-bottom-0 {
  margin-bottom: 0 !important; }

.margin-top-10-bottom-20 {
  margin-bottom: 20px;
  margin-top: 10px; }

.margin-top-20 {
  margin-top: 20px; }

.margin-bottom-20 {
  margin-bottom: 20px; }

.margin-bottom-40 {
  margin-bottom: 40px; }

.margin-right-0 {
  margin-right: 0 !important; }

.margin-left-0 {
  margin-left: 0 !important; }

.margin-left-10 {
  margin-left: 10px; }

.padding-0 {
  padding: 0; }

.padding-top-0 {
  padding-top: 0; }

.padding-bottom-0 {
  padding-bottom: 0; }

.padding-right-0 {
  padding-right: 0; }

.padding-left-0 {
  padding-left: 0; }

/*Banner*/
.hero-banner {
  margin-right: auto;
  margin-left: auto;
  padding-right: 0;
  padding-left: 0;
  width: 100%;
  margin-bottom: 50px; }
  .hero-banner .carousel a:hover h2, .hero-banner .carousel a:focus h2 {
    text-decoration: none;
    color: #007db8; }
  .hero-banner .carousel a h4 {
    color: #444;
    margin-bottom: 14px; }

.carousel-indicators {
  bottom: -41px; }
  .carousel-indicators li {
    cursor: pointer;
    background-color: #ccc;
    height: 7px;
    margin: 14px 14px 0 0;
    width: 14px;
    display: inline-block;
    border: none;
    border-radius: 2px;
    padding: 0; }
  .carousel-indicators .active {
    background-color: #444;
    margin: 14px 14px 0 0;
    width: 14px;
    height: 7px; }

.caption-wrapper {
  position: absolute;
  top: 20px;
  left: 20px;
  padding: 14px;
  /*background-color:;*/
  width: 32%;
  vertical-align: middle;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  background: #fff;
  background: rgba(255, 255, 255, 0.92);
  right: auto;
  bottom: auto; }

/*intro*/
.title-description {
  margin-bottom: 24px; }
  .title-description p, .title-description a {
    display: inline;
    font-size: 16px; }
  .title-description h1 {
    margin-bottom: 7px;
    width: 86%; }

.dark-grey-bg {
  background-color: #eee;
  padding: 20px;
  display: inline-block; }
  .dark-grey-bg h3 {
    font-family: 'Museo Sans 700', 'Trebuchet MS', Arial;
    font-weight: 400; }

/*solutions*/
.icon-headline img {
  width: 43px;
  display: inline-block;
  float: left;
  margin-right: 15px; }
.icon-headline > div > div {
  margin-bottom: 27px; }

/*features*/
.polaris-divider {
  border-top: 1px solid #eee;
  position: relative;
  overflow: hidden;
  min-height: 20px;
  margin: 17px 0 0 0; }
  .polaris-divider:before {
    border-radius: 50%;
    box-shadow: 0 0 18px rgba(0, 0, 0, 0.4);
    content: "";
    height: 3px;
    left: 5%;
    position: absolute;
    top: -3px;
    width: 90%; }

.has-grey-border {
  border: 1px solid #ddd; }

.block {
  display: block; }

/*resources*/
.resources {
  float: left;
  padding: 7px 0 5px 0; }
  .resources .row > div {
    margin-bottom: 14px; }
    .resources .row > div > a {
      display: inline-block;
      margin-right: 0;
      float: left;
      margin-top: -16px;
      margin-left: -14px; }
    .resources .row > div > div {
      display: inline-block;
      width: 80%;
      float: left; }
      .resources .row > div > div > a h4 {
        margin-top: 0;
        line-height: 30px; }

.scale-32 {
  width: 61px;
  height: 61px; }

/*support*/
a:hover .has-overlay h4 {
  text-decoration: none;
  color: #007db8; }

.has-overlay {
  position: relative;
  background-size: cover !important;
  background-origin: content-box;
  background-clip: content-box;
  background-repeat: no-repeat;
  padding: 0;
  height: 206px; }
  .has-overlay .overlay {
    background: #fff;
    background-color: rgba(255, 255, 255, 0.9);
    width: 100%;
    padding: 11px 15px;
    position: absolute;
    bottom: 0;
    height: 82px; }
    .has-overlay .overlay h4 {
      margin-bottom: 2px; }
    .has-overlay .overlay p, .has-overlay .overlay:hover p {
      color: #333; }

#tech-support {
  background-image: url("http://stage-software-dell-com/images/home/dsg-home/tech-support.jpg"); }

#support-renewal {
  background-image: url("http://stage-software-dell-com/images/home/dsg-home/support-renewals.jpg"); }

#tech-center {
  background-image: url("http://stage-software-dell-com/images/home/dsg-home/dell-tech-center.jpg"); }

/*brand logos*/
.logos {
  display: block;
  float: left;
  margin-top: 6px;
  margin-bottom: 10px; }
  .logos ul li {
    display: block;
    float: left; }

.carousel-xs ul {
  position: relative; }
.carousel-xs .pagination-container {
  position: relative;
  overflow: hidden;
  margin-left: 20px;
  margin-right: 5px; }
.carousel-xs .rr-pagination {
  float: left;
  margin-top: 10px; }
  .carousel-xs .rr-pagination > a {
    background: url("http://stage-software-dell-com/images/shared/sprites.png") no-repeat -81px -165px;
    width: 19px;
    height: 35px;
    display: block;
    position: absolute; }
  .carousel-xs .rr-pagination .next {
    background-position: -81px -165px;
    right: -13px; }
  .carousel-xs .rr-pagination .prev {
    background-position: 0 -165px; }
  .carousel-xs .rr-pagination .next.inactive {
    background-position: -56px -165px; }
  .carousel-xs .rr-pagination .prev.inactive {
    background-position: -25px -165px; }
  .carousel-xs .rr-pagination .next:hover {
    background-position: -81px -165px; }
  .carousel-xs .rr-pagination .prev:hover {
    background-position: 0 -165px; }

/*media queries*/
/*mobile*/
@media (max-width: 767px) {
  .xs-margin-right-0, .xs-margin-left-0 {
    margin-left: 0;
    margin-right: 0; }

  .masthead {
    margin-bottom: 0; }

  /*banner*/
  .hero-banner {
    width: 100%;
    padding: 0 -15px; }
    .hero-banner .carousel a h4 {
      font-size: 14px; }
    .hero-banner .carousel a h2 {
      font-size: 20px;
      line-height: 24px; }

  .caption-wrapper {
    position: relative;
    left: 0;
    top: 0;
    border-radius: 0;
    background: #f5f5f5;
    width: 100%; }
    .caption-wrapper span {
      color: #007db8;
      background-color: transparent;
      border: none;
      padding: 0; }
      .caption-wrapper span:hover {
        background-color: transparent;
        color: #007db8; }

  /*intro*/
  .inline {
    display: inline !important; }

  .title-description p {
    line-height: 25px; }

  /*claim boxes*/
  .has-right-border {
    border-right: 1px solid #e2e2e2; }

  .dark-grey-bg {
    padding: 17px 5px;
    margin-bottom: 20px; }

  /*solutions*/
  .icon-headline > div > div {
    margin-bottom: 13px; }

  .has-overlay {
    margin-bottom: 20px; }

  .xs-negative-margin-left-15, .negative-margin-left-15 {
    margin-left: -15px; }

  /*features*/
  .xs-margin-bottom-10 {
    margin-bottom: 10px; }

  .xs-padding-left-30 {
    padding-left: 30px; } }
@media (min-width: 768px) {
  #hero-banner {
    width: 100%; }

  .logos .col-lg-2 {
    width: 11%;
    padding: 0;
    margin-right: 11px; } }
/*tablet*/
@media (max-width: 991px) and (min-width: 768px) {
  /*banner*/
  .hero-banner .carousel a h2 {
    font-size: 26px;
    line-height: 30px; }
  .hero-banner .carousel a h4 {
    font-size: 16px;
    line-height: 20px; }

  .caption-wrapper {
    width: 46%; }

  /*features*/
  .rr-pagination {
    margin-right: 3%; }

  .has-overlay {
    margin-bottom: 20px; }

  .negative-margin-left-15 {
    margin-left: -15px; } }
@media (min-width: 992px) {
  .logos .col-lg-2 {
    width: 101px;
    padding: 0;
    margin-right: 14px; } }
/*large screens*/
@media (min-width: 1200px) {
  .hero-banner {
    width: 1170px; }

  .container {
    padding-left: 0;
    padding-right: 0; }

  .logos .col-lg-2 {
    width: 101px;
    padding: 0;
    margin-right: 43px; }

  .lg-margin-bottom-10 {
    margin-bottom: 10px; } }
