//
// SSO (multiple pages)
// --------------------------------------------------


// Generic styles - all devices
// --------------------------------------------------

.sso, .login {

  button.btn{
    padding: 8px 16px;
    margin-top: 25px;
    margin-bottom: 26px;
  }
  /* login form has double button - fix extra padding */
  .label-top {
    .btn-primary {
      margin-bottom: 10px !important;
    }
    .btn-default {
      margin-top: 0;
      margin-bottom: 10px;
    }
  }

  /* disabled buttons */
  button[disabled=disabled] {
    color: #444;
  }
}

.sso.edit-account {
  button.btn {
    margin-bottom: 10px;
  }
}

/* login Remember me checkbox */
#lnkForgotPwd {
  display: block;
}

/* My Account styles */

.sso.my-account {
  > div {
    padding-left: 0;
    padding-right: 0;
  }

  .sso-links {
    a {
      display: block;
      margin-bottom: 18px;
    }
    h3 {
      font-size: 24px;
      line-height: 28px;
    }
  }
  .account-info > div {
    margin-bottom: 8px;
  }
  span {
    font-weight: bold;
  }
}

// Mobile styles - Media Query
// --------------------------------------------------

@media (max-width: 767px) {
  .sso, .login {
    .row {
      margin-left: 5px;
      margin-right: 5px;
    }
    form {
      label {
        font-weight: normal;
      }
    }
  }

  .create-new-password, .edit-password {
    button.btn {
      margin-bottom: 10px;
    }
  }

  .my-account {
    margin: 0 15px;

    .sso-links {
      a {
        display: block;
        margin-bottom: 0 !important;
        box-sizing: border-box;
        padding: 28px 0 28px 5px;
        border-bottom: 1px #ccc solid;
      }
      a:first-of-type {
        border-top: 1px #ccc solid;
      }
      :last-child {
        margin-bottom: 20px !important;
      }
    }
    .account-info > div {
      margin-bottom: 20px !important;
    }
  }
}

// Destop and Table styles - Media Query
// --------------------------------------------------

@media (min-width: 768px) {

  // General
  //----------------------------
  .sso {

    .label-inline{
      width: 454px;
    }
    h1 {
      padding-top: 3px;
      margin-bottom: 16px;
    }
    form {
      display: table;

      .form-group, .form-footer {
        display: table-row;
      }
      label, .form-footer > div:first-child {
        font-weight: normal;
        display: table-cell;
        width: 28%;
        text-align: right;
        padding-right: 10px;
      }
      .form-control,
      .form-footer > div:last-child {
        display: table-cell;
        width: 100%;
        margin: 5px 0;
      }
    }
    .legal {
      width: 100%;
      margin-bottom: 6px;
    }
  }
  .casl {

    .legal {
      margin-top: 16px;
    }
  }

  // Page specific - high level class named after page title
  //--------------------------------------------------------
  .casl,
  .login {

    .label-top {
      max-width: 320px;

      .form-group:first-child {
        margin-bottom: 10px;
      }
      label {
        font-weight: normal;
      }
      a:hover {
        text-decoration: none;
      }
    }
    .checkbox {
      display: table-cell;
      width: 100%;
      text-align: left;
      margin: 0;
      padding-top: 15px;

      label {
        text-align: left;
      }
    }
    button.btn {
      margin-top: 25px;
      margin-bottom: 10px;
    }
    .form-group:last-child {
      margin-bottom: 10px;
    }
  }

  .create-new-password,
  .edit-password,
  .reset-password,
  .edit-email {

    form {
      label,
      .form-footer > div:first-child {
        width: 156px;
      }
      .form-control,
      .form-footer > div:last-child,
      #lblemailaccount {
        width: 295px;
        padding-bottom: 10px;
        padding-left: 5px;
      }
    }
    button.btn {
      margin-top: 25px;
      margin-bottom: 10px;
    }
  }

  .sso.my-account {
    .account-info > div > span,
    .account-info > div > div {
      display: inline-block;
    }
    .account-info > div > span {
      text-align: right;
      min-width: 120px;
      padding-right: 10px;
      font-weight: bold;
    }
  }

}