# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen

.env

/static/js/**/*.min.js
/static/scripts/**/*.min.js

/static/css/**/*.css
/static/css/**/*.css.map
/static/styles/**/*.css
/static/styles/**/*.css.map