.bg-light-gray {
  background: #eeeeee;
}

.bg-white {
  background: #fff;
}

.bg-dark-orange {
  background: #ff6633;
}

.bg-dark-blue {
  background: #00618F;
}

.bg-dark-gray {
  background: #333333;
}

.row-purple {
  background: #6e2585;
}

.row-blue {
  line-height: 30px;
  background-color: #007db8;
}


.row-orange {
  line-height: 30px;
  background-color: #ff6633;
}
