body {
  font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
  margin:0;/*added*/
}

.p3-transcript-container {
  .p3-transcript-controller, .p3-transcript-bottombar, .p3-timeline-progress {
    display: none !important;
  }
  .current_word {
    background: #c9cacc !important;
    color: #333 !important;
  }
  .p3-transcript-main {
    border: 1px solid #c0c0c0;
    width: 639px;
    p span {
      font-size: 13px;
    }
  }
}

p {
  font-size: 13px;
}

#description {
  width: 640px;
  margin-bottom: 10px;
}

#title {
  width: 608px;
  padding: 10px 0 15px 0;
}

h1 {
  font-size: 20px;
  line-height: 24px;
  margin: -5px 0 0 0;
  padding: 0 0 10px;
  color: #333;
  width: 640px;
}

p {
  line-height: 20px;
  margin: 0;
}

#ooyalaplayer {
  border: 1px solid #444;
}

#transcript {
  height: 203px;
  display: none;
}

.loading {
  background: url("/images/shared/loader.gif") 50% 50% no-repeat;
}

#ooyalaplayer {
  width: 640px;
  height: 360px;
  overflow: hidden;
  &.playlist {
    width: 540px;
    height: 300px;
  }
  .innerWrapper {
    border: none !important;
  }
  border: 1px solid #c0c0c0;
  display: inline-block;
  vertical-align: top;
}

/* START: Playlist */

#playlist {
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  width: 298px;
  height: 302px;
  overflow-y: auto;
  border: 1px solid #c0c0c0;
  font-size: 13px;
  padding: 5px;
  display: none;
  ul {
    margin: 0;
    padding: 0;
  }
  li {
    padding: 5px;
    list-style: none outside none;
    margin: 5px 0;
    cursor: pointer;
    overflow: hidden;
    border: 1px solid #fff;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    &.active {
      border: 1px solid #c0c0c0;
      background-color: #0085c3;
      color: #fff;
    }
  }
  img {
    float: left;
    margin-right: 5px;
  }
}

/* END: Playlist */

/* Start: OO-Toolbar */

#oo-toolbar {
  margin: 4px 0 14px;
  padding: 5px 0 5px 10px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  font-size: 13px;
  line-height: 17px;
  ul {
    overflow: hidden;
    margin: 0 !important;
  }
  li {
    float: left;
    list-style: none outside none !important;
    margin-right: 10px;
  }
  a {
    display: block;
    height: 20px;
    width: 20px;
    color: #2da0d0;
  }
  span {
    visibility: hidden;
    width: 0;
    height: 0;
    display: block;
  }
  .icon {
    &.email {
      background-position: 0 -140px;
      width: 32px;
    }
    &.twitter {
      background-position: 0 0;
    }
    &.linkedin {
      background-position: -20px 0;
    }
    &.facebook {
      background-position: -40px 0;
    }
  }
  .googleplusone {
    height: 20px;
  }
}

ul#oo-toolbar {
  border: 0;
  margin: 0 !important;
  padding: 0;
  a {
    width: auto;
    height: auto;
  }
  li {
    height: 20px;
    background: none;
    padding: 2px 0;
    margin: 0;
  }
  span {
    width: 20px;
    height: 20px;
    display: inline-block;
    visibility: visible;
    margin-right: 5px;
  }
  .googleplusone span {
    width: auto;
    height: auto;
    vertical-align: top;
    margin: 2px 0 0 5px;
  }
}

/* End: Toolbar */

#ooyalaplayer .oo_controls .oo_fullscreen_on {
  display: none;
}

.oo_cc {
  right: 0;
}

#ooyalaplayer .oo_controls.has-cc .vod .oo_scrubber {
  right: 45px;
}