.screenshot-carousel li .product-text-wrapper {
  max-width: 370px;
  height: 83px; }
.screenshot-carousel li .btn {
  margin: 19px 0 30px 0; }
.screenshot-carousel .features-headline {
  margin-bottom: 8px; }
  .screenshot-carousel .features-headline h3 {
    margin: 4px 5px 20px 0;
    display: inline-block; }

/*mobile*/
@media (max-width: 767px) {
  .screenshot-carousel .pagination-type1 li .product-text-wrapper {
    height: auto; }
  .screenshot-carousel ul li:nth-child(3) .polaris-divider, .screenshot-carousel ul li:nth-child(9) .polaris-divider {
    display: none !important; }
  .screenshot-carousel .btn-default {
    margin-bottom: 20px;
    margin-top: 9px; } }
