.date-widget, .details-list {
  display: inline-block;
  vertical-align: top;
}


.date-widget{
  width: 88px;
  box-sizing: border-box;
  border: 1px solid #d9d9d9;


  .header-purple {
    background-color: #6E2585;
    color: #fff;
  }
  .date-body {
    background-color: #fff;
    height: 58px;
    padding-top:6px;
  }
}
.details-list {

  li{
    padding-bottom: 0;
  }
}
.pad-20 {
  padding:20px;
}
