*:focus {
  outline: 0 !important;
}

.fat-tabs {
  > ul {
    display: inline-block;
    > li {
      padding: 0;
      /* Old browsers */
      background: -moz-linear-gradient(top, #ffffff 8%, #efefef 100%);
      /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(8%, #ffffff), color-stop(100%, #efefef));
      /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top, #ffffff 8%, #efefef 100%);
      /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top, #ffffff 8%, #efefef 100%);
      /* Opera 11.10+ */
      background: -ms-linear-gradient(top, #ffffff 8%, #efefef 100%);
      /* IE10+ */
      background: linear-gradient(to bottom, #ffffff 8%, #efefef 100%);
      /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#efefef', GradientType=0);
      box-sizing: border-box;
      border-bottom: 1px solid #ccc;
      &.NS, &.IAM, &.DP {
        img {
          height: 55px;
        }
      }
      &.WSM, &.EM {
        img {
          height: 56px;
        }
      }
      &.IM {
        a > div {
          height: 103px;
        }
        img {
          height: 47px;
        }
      }
      &.PM {
        img {
          height: 35px;
        }
      }
      a {
        display: block;
        padding: 25px 15px 15px 15px;
        &:hover, &:focus {
          text-decoration: none;
        }
        &:hover {
          background: #cbe6f2;
          color: #007db8;
        }
        > div {
          height: 110px;
          > img {
            margin-bottom: 20px;
          }
          h4 {
            text-align: center;
            font-size: 16px;
            white-space: normal;
          }
        }
      }
    }
  }
  .ui-tabs-panel {
    padding: 26px 0 0 0;
  }
}

.fat-tabs .ui-tabs-nav li {
  border-top: 1px solid #ccc;
}

.fat-tabs {
  ul li.hide-pipe, > ul > li {
    border-left: 1px solid #ccc;
    border-right: none;
  }
}

.ui-tabs .ui-tabs-nav li, .ui-state-active {
  border-left: 1px solid #ccc;
  border-right: none;
}

.ui-tabs .ui-tabs-nav .last-child {
  border-right: 1px solid #ccc;
}

.fat-tabs > ul > li.ui-tabs-active {
  border-top: none;
  border-top: 1px solid #ccc;
  border-bottom: none;
  background: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  a {
    padding-bottom: 15px;
    &:hover {
      background-color: transparent;
      padding-bottom: 15px;
    }
    > div {
      margin-top: -5px;
    }
  }
}

/*align all h4s*/
.IM img {
  margin-top: 7px;
}

.PM img {
  margin-bottom: 39px;
}

/*border color setting to match icons*/

.fat-tabs > ul {
  > .NS.ui-tabs-active a {
    border-top: 5px solid #6ea204;
  }
  > .IAM.ui-tabs-active a {
    border-top: 5px solid #b7295a;
  }
  > .DP.ui-tabs-active a {
    border-top: 5px solid #ee6411;
  }
  > .IM.ui-tabs-active a {
    border-top: 5px solid #d74324;
  }
  > .WSM.ui-tabs-active a {
    border-top: 5px solid #6e2585;
  }
  > .EM.ui-tabs-active a {
    border-top: 5px solid #00447c;
  }
  > .PM.ui-tabs-active a {
    border-top: 5px solid #0087cc;
  }
}


/*mobile*/
@media (max-width: 767px) {
  .fat-tabs {
    .container {
      padding-left: 0;
      padding-right: 0;
    }
    > ul {
      display: inline-block;
      > li {
        padding: 15px 0 15px 10px;
        background: none;
        box-sizing: border-box;
        border-bottom: 1px solid #ccc;
        border-left: none;
        display: block;
        &.NS {
          border-top: 1px solid #ccc;
        }
        &.PM {
          h4 {
            padding-top: 8px;
          }
          span {
            top: 25px;
          }
          img {
            margin-right: 15px;
          }
        }
        &.IM {
          a > div {
            height: auto;
            > span {
              top: 32px;
            }
          }
          img {
            margin-top: 0;
          }
          h4 {
            padding-top: 17px;
          }
        }
        &.WSM {
          img {
            margin-right: 28px
          }
        }
        a {
          padding: 0;
          &:hover, &:focus {
            text-decoration: none;
          }
          &:hover {
            background: none;
            color: #007db8;
          }
          > div {
            height: auto;
            > img {
              margin-bottom: 0;
              float: left;
              margin-right: 24px;
            }
            h4 {
              text-align: left;
              padding-top: 19px;
              margin-bottom: 0;
              margin-top: 0;
              display: block;
            }
            > span {
              position: absolute;
              right: 0;
              top: 35px;
              font-size: 18px;
              display: inline !important;
            }
          }
        }
      }
    }
    .ui-tabs-panel {
      padding: 26px 0 0 0;
    }
  }
  .off-canvas-content{
    .container {
      > div:first-child{
        padding-bottom: 13px;
        border-bottom: 1px solid #ccc;
      }
    }
  }
}

@media (min-width: 768px) {
  .fat-tabs > ul > li {
    width: 134px;
    > a > div {
      > img {
        margin-bottom: 7px;
      }
      h4 {
        margin-top: 0;
      }
    }
    &.PM img {
      margin-bottom: 28px;
    }
  }
}

/*tablet*/
@media (max-width: 991px) and (min-width: 768px) {
  .fat-tabs {
    .container {
      padding-left: 0;
      padding-right: 30px;
    }
    ul li {
      width: 102.8px;
      a {
        padding: 25px 0 15px 0;
      }
      h4 {
        font-size: 14px;
      }
    }
  }
}

@media (min-width: 1200px) {
  .fat-tabs ul li {
    width: 167px;
  }
  .container{
    padding-left:0;
    padding-right:0;
  }
}