#footer .footer-top-section ul.menu-links > li {
  float: none; }
  #footer .footer-top-section ul.menu-links > li > a {
    font-weight: normal; }

/*mobile*/
@media (max-width: 767px) {
  .fat-tabs > ul > li a > div h4 {
    padding-right: 10px; }
  .fat-tabs > ul > li.last-child {
    border-right: none; }

  #footer {
    background-color: #fff; }
    #footer .footer-top-section a {
      text-align: left; } }
@media (min-width: 768px) {
  .fat-tabs > ul > li {
    width: 16.66667%; } }
/*tablet*/
@media (max-width: 991px) and (min-width: 768px) {
  #logos .slick-list {
    margin-left: 25px; } }
@media (min-width: 1200px) {
  .fat-tabs > ul > li {
    width: 16.66667%; }
  .fat-tabs .ui-tabs .ui-tabs-nav li a {
    height: 164px; } }
