/*intro*/
.title-description {
  margin-bottom: 24px; }
  .title-description p, .title-description a {
    display: inline;
    font-size: 16px; }
  .title-description h1 {
    margin-bottom: 7px;
    width: 86%; }

/*solutions*/
.icon-headline img {
  width: 43px;
  height: 43px;
  display: inline-block;
  float: left;
  margin-right: 15px; }
.icon-headline > div > div {
  margin-bottom: 27px; }

/*features*/
.polaris-divider {
  border-top: 1px solid #eee;
  position: relative;
  overflow: hidden;
  min-height: 20px;
  margin: 17px 0 0 0; }
  .polaris-divider:before {
    border-radius: 50%;
    box-shadow: 0 0 18px rgba(0, 0, 0, 0.4);
    content: "";
    height: 3px;
    left: 5%;
    position: absolute;
    top: -3px;
    width: 90%; }

.screenshot-carousel {
  overflow: hidden; }
  .screenshot-carousel ul {
    padding: 0; }
  .screenshot-carousel li {
    list-style: none outside none;
    overflow: hidden; }
    .screenshot-carousel li .product-text-wrapper {
      max-width: 370px;
      height: 83px; }
    .screenshot-carousel li .btn {
      margin: 19px 0 30px 0; }
  .screenshot-carousel .screenshot-carousel-wrapper {
    overflow: hidden; }
  .screenshot-carousel .pagination-container {
    position: relative;
    overflow: hidden;
    margin: 0 -15px; }
    .screenshot-carousel .pagination-container p {
      font-size: 16px; }
    .screenshot-carousel .pagination-container > div {
      position: relative; }
  .screenshot-carousel .features-headline {
    margin-bottom: 8px; }
    .screenshot-carousel .features-headline h3 {
      margin: 4px 5px 20px 0;
      display: inline-block; }
  .screenshot-carousel .rr-pagination {
    margin-right: 0;
    float: right; }
    .screenshot-carousel .rr-pagination a {
      width: 40px;
      height: 33px;
      background: url("/images/shared/sprites.png") 0 0 no-repeat;
      display: inline-block;
      vertical-align: middle; }
    .screenshot-carousel .rr-pagination > span {
      border: none;
      font-size: 14px;
      margin-right: 20px; }
    .screenshot-carousel .rr-pagination .prev {
      background-position: 0 -204px;
      margin-right: 20px; }
      .screenshot-carousel .rr-pagination .prev:hover {
        background-position: -41px -204px; }

.screenshot-carousel .rr-pagination .next {
  background-position: -127px -204px; }
  .screenshot-carousel .rr-pagination .next:hover {
    background-position: -84px -204px; }

.screenshot-carousel .rr-pagination .prev.inactive {
  background-position: 0 -204px; }
.screenshot-carousel .rr-pagination .next.inactive {
  background-position: -127px -204px; }

/*resources*/
.resources {
  float: left;
  padding: 7px 0 5px 0; }
  .resources .row > div {
    margin-bottom: 14px; }
    .resources .row > div > a {
      display: inline-block;
      margin-right: 0;
      float: left; }
    .resources .row > div > div {
      display: inline-block;
      width: 80%;
      float: left; }
      .resources .row > div > div > a h4 {
        margin-top: 0;
        line-height: 30px; }

.scale-32 {
  width: 61px;
  height: 61px; }

/*support*/
a:hover .has-overlay h4 {
  text-decoration: none;
  color: #007db8; }

.has-overlay {
  position: relative;
  background-size: cover !important;
  background-origin: content-box;
  background-clip: content-box;
  background-repeat: no-repeat;
  padding: 0;
  height: 206px; }
  .has-overlay .overlay {
    background: #fff;
    background-color: rgba(255, 255, 255, 0.9);
    width: 100%;
    padding: 11px 15px;
    position: absolute;
    bottom: 0;
    height: 82px; }
    .has-overlay .overlay h4 {
      margin-bottom: 2px; }
    .has-overlay .overlay p, .has-overlay .overlay:hover p {
      color: #333; }

#tech-support {
  background-image: url("/images/home/dsg-home/tech-support.jpg"); }

#support-renewal {
  background-image: url("/images/home/dsg-home/support-renewals.jpg"); }

#tech-center {
  background-image: url("/images/home/dsg-home/dell-tech-center.jpg"); }

/*media queries*/
/*mobile*/
@media (max-width: 767px) {
  .pl-xs-0 {
    padding-left: 0; }

  .pr-xs-0 {
    padding-right: 0; }

  /*.masthead {
    margin-bottom: 0;
  }*/
  /*solutions*/
  .icon-headline > div > div {
    margin-bottom: 13px; }

  /*features*/
  .grey-bg {
    margin-top: 17px; }

  .screenshot-carousel ul {
    padding: 0; }
    .screenshot-carousel ul li {
      padding-left: 0;
      padding-right: 0; }
  .screenshot-carousel .pagination-type1 li .product-text-wrapper {
    height: auto; }
  .screenshot-carousel ul li:nth-child(3) .polaris-divider, .screenshot-carousel ul li:nth-child(9) .polaris-divider {
    display: none !important; }
  .screenshot-carousel .btn-default {
    margin-bottom: 20px;
    margin-top: 9px; }

  .has-overlay {
    margin-bottom: 20px; }

  .xs-negative-margin-left-15, .negative-margin-left-15 {
    margin-left: -15px; } }
/*mobile horizontal*/
@media (max-width: 767px) and (min-width: 390px) {
  .text-center-xs-h {
    text-align: center;
    text-align: -moz-center;
    text-align: -webkit-center; }
    .text-center-xs-h > div {
      text-align: left; } }
@media (min-width: 768px) {
  #hero-banner {
    width: 100%; }

  .screenshot-carousel ul {
    vertical-align: top;
    display: inline-block; } }
/*tablet*/
@media (max-width: 991px) and (min-width: 768px) {
  .pl-sm-0 {
    padding-left: 0; }

  .pr-sm-0 {
    padding-right: 0; }

  /*features*/
  .has-overlay {
    margin-bottom: 20px; } }
/*large screens*/
@media (min-width: 1200px) {
  .container {
    padding-left: 0;
    padding-right: 0; } }
