#footer{
  margin-top:0;
}
/*intro*/
.title-description {
  margin-bottom: 24px;
  a {
    display: inline;
    font-size: 16px;
  }
  h1 {
    margin-bottom: 7px;
    width: 86%;
  }
}

.dark-gray-bg {
  background-color: #eee;
  padding: 20px;
  display: inline-block;
  h3 {
    font-family: 'Museo Sans 700', 'Trebuchet MS', Arial;
    font-weight: 400;
  }
  p{
    font-family: 'Museo Sans 300', 'Trebuchet MS', Arial;
    font-size: 16px;
  }
}

/*solutions*/

.icon-headline {
  img {
    display: inline-block;
    float: left;
    margin-right: 15px;
    margin-top:5px;
  }
  > div > div {
    margin-bottom: 9px;
    min-height:52px;
    h4{
      margin-bottom: 0;
    }
  }
}

/*features*/
.has-gray-border {
  border: 1px solid #ddd;
}

.block {
  display: block;
}

/*resources*/

.resources {
  float: left;
  padding: 7px 0 5px 0;
  .row > div {
    margin-bottom: 14px;
    > {
      a {
        display: inline-block;
        margin-right: 0;
        float: left;
        margin-top: -16px;
        margin-left: -14px;
      }
      div {
        display: inline-block;
        width: 80%;
        float: left;
        > a h4 {
          margin-top: 0;
        }
      }
    }
  }
}

.ptb-14-plr-10 {
  padding:14px 10px;
}

/*carousel*/
.screenshot-carousel {
  overflow: hidden;
  ul {
    padding: 0;
    float: left;
  }
  li {
    list-style: none outside none;
    overflow: hidden;
    .product-text-wrapper {
      max-width: 370px;
      height: 83px;
    }
    .btn {
      margin: 19px 0 30px 0;
    }
  }
  .screenshot-carousel-wrapper {
    overflow: hidden;
  }
  .pagination-container {
    position: relative;
    overflow: hidden;
    p {
      font-size: 16px;
      padding-top: 4px;
    }
    > div {
      position: relative;
    }
  }
  .features-headline {
    margin-bottom: 8px;
    h3 {
      margin: 4px 5px 20px 0;
      display: inline-block;
    }
  }
  .rr-pagination {
    margin-right: 0;
    float: right;
    a {
      width: 40px;
      height: 33px;
      background: url("/images/shared/sprites.png") 0 0 no-repeat;
      display: inline-block;
      vertical-align: middle;
    }
    > span {
      border: none;
      font-size: 14px;
      margin-right: 20px;
    }
    .prev {
      background-position: 0 -204px;
      margin-right: 20px;
      &:hover {
        background-position: -41px -204px;
      }
    }
  }
}

.logos .rr-pagination .prev.inactive:hover {
  background-position: 0 -165px;
}

.screenshot-carousel .rr-pagination .next {
  background-position: -127px -204px;
  &:hover {
    background-position: -84px -204px;
  }
}

.logos .rr-pagination .next.inactive:hover {
  background-position: -81px -165px;
}

.screenshot-carousel .rr-pagination {
  .prev.inactive {
    background-position: 0 -204px;
  }
  .next.inactive {
    background-position: -127px -204px;
  }
}

.images-slider {
  margin-left: 30px;
}

.screenshot-carousel {
  .pagination-large {
    a {
      margin-top: 48px;
    }
    .prev {
      background-position: 0 -165px;
      width: 25px;
      height: 39px;
      margin-right: 10px;
      &:hover {
        background-position: 0 -165px;
      }
    }
    .prev.inactive {
      background-position: -25px -165px;
      &:hover {
        background-position: 0 -165px;
      }
    }
    .next {
      background-position: -81px -165px;
      width: 25px;
      height: 39px;
      &:hover {
        background-position: -81px -165px;
      }
    }
    .next.inactive {
      background-position: -56px -165px;
      &:hover {
        background-position: -81px -165px;;
      }
    }
  }
}

/*hidden blurb*/
.expanded-blurb {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  padding: 20px 0 30px 0;
  margin-top: -19px;
  display: none;
  background-color: #fafafa;
  position: relative;
  .container {
    position: relative;
  }
  li {
    padding-bottom: 0;
  }
  .close {
    position: relative;
    float: right;
    width: 12px;
    height: 12px;
    background: transparent url("/images/shared/sprites.png") -143px -45px;
    cursor: pointer;
    opacity: 1;
    text-shadow: none;
    margin-right:22px;
    filter:none;
    &:hover {
      background-position: -166px -45px;
    }
  }
}

.expanded-blurb .grey-caret {
  position: absolute;
  width: 24px;
  height: 10px;
  background: transparent url("/images/shared/sprites.png") -134px -176px;
  cursor: pointer;
  margin-top: -30px;
  left: 51px;
}

/*support*/

a:hover .has-overlay h4 {
  text-decoration: none;
  color: #007db8;
}

.has-overlay {
  position: relative;
  background-size: cover !important;
  background-origin: content-box;
  background-clip: content-box;
  background-repeat: no-repeat;
  padding: 0;
  height: 206px;
  .overlay {
    background: #fff;
    background-color: rgba(255, 255, 255, 0.9);
    width: 100%;
    padding: 11px 15px;
    position: absolute;
    bottom: 0;
    height: 118px;
    h4 {
      margin-bottom: 2px;
    }
    p, &:hover p {
      color: #333;
      height: 80px;
    }
  }
}

#conversation-with-kace {
  background-image: url("/images/product-line/kace/communities/conversations-with-kace.jpg");
}

#tech-support {
  background-image: url("/images/product-line/kace/communities/tech-support.jpg");
}

#it-ninja {
  background-image: url("/images/product-line/kace/communities/IT-Ninja.jpg");
}

/*brand logos*/
.logos {
  display: block;
  float: left;
  margin-top: 6px;
  margin-bottom: 10px;
  padding: 0;
  ul {
    margin-top: 13px;
    li {
      display: block;
      float: left;
      margin-right: 43px;
    }
  }
}

.carousel-xs {
  ul {
    position: relative;
  }
  .pagination-container {
    position: relative;
    overflow: hidden;
    margin: 0 20px;
  }
  .rr-pagination {
    float: left;
    margin-top: 10px;
    > a {
      background: url("/images/shared/sprites.png") no-repeat -81px -165px;
      width: 19px;
      height: 35px;
      display: block;
      position: absolute;
    }
    .next {
      background-position: -81px -165px;
      right: 0;
    }
    .prev {
      background-position: 0 -165px;
    }
    .next.inactive {
      background-position: -56px -165px;
    }
    .prev.inactive {
      background-position: -25px -165px;
    }
    .next:hover {
      background-position: -81px -165px;
    }
    .prev:hover {
      background-position: 0 -165px;
    }
  }
}

/*media queries*/
/*mobile*/
@media (max-width: 767px) {
  .mb-xs-10{
    margin-bottom: 10px;
  }
  .pad-xs-0 {
    padding: 0
  }
  .pl-xs-30{
    padding-left: 30px;
  }
  .pl-xs-0{
    padding-left: 0;
  }
  .pr-xs-0{
    padding-right:0;
  }

  .masthead {
    margin-bottom: 0;
  }
  /*intro*/
  .inline {
    display: inline !important;
  }
  /*claim boxes*/
  .has-right-border {
    border-right: 1px solid #e2e2e2;
  }
  .dark-gray-bg {
    padding: 17px 15px;
    margin-bottom: 20px;
  }
  /*solutions*/
  .icon-headline > div > div {
    margin-bottom: 13px;
  }
  .has-overlay {
    margin-bottom: 20px;
    .overlay{
      height:118px;
    }
  }
  /*logos*/
  .screenshot-carousel {
    ul {
      padding: 0;
      li {
        padding-left: 0;
        padding-right: 0;
      }
    }
    .pagination-type1 li .product-text-wrapper {
      height: auto;
    }
    ul li {
      &:nth-child(3) .polaris-divider, &:nth-child(9) .polaris-divider {
        display: none !important;
      }
    }
    &.logos ul {
      display: inline-block;
    }
    &.logos ul li {
      width: 100%;
    }
  }
}

@media (min-width: 768px) {
  .logos ul li {
    padding: 0;
    margin-right: 11px;
  }
}

/*tablet*/
@media (max-width: 991px) and (min-width: 768px) {
  .pl-sm-0{
    padding-left:0;
  }
  .pr-sm-0{
    padding-right:0;
  }
  /*features*/
  .rr-pagination {
    margin-right: 3%;
  }
  .has-overlay {
    margin-bottom: 20px;
  }
  .ml-md-n-15 {
    margin-left: -15px;
  }
  .images-slider {
    .pagination-large{
      a{
        margin-top: 37px;
      }
      .prev{
        margin-right: 0;
      }
    }
    li {
      width: 50%;
    }

  }
  .kace.expanded-blurb {
    margin-top: -20px;
  }
}

@media (min-width: 992px) {
  .logos ul li {
    padding: 0;
    margin-right: 42px;
  }
  .btn-link {
    padding-left: 0;
  }
}

/*large screens*/
@media (min-width: 1200px) {
  .container {
    padding-left: 0;
    padding-right: 0;
  }
  .logos ul li {
    padding: 0;
    margin-right: 88px;
  }
  .lg-margin-bottom-10 {
    margin-bottom: 10px;
  }
  .btn-link {
    padding-left: 0;
  }
  .min-height-95{
    min-height:95px;
  }
  .kace.expanded-blurb {
    margin-top: -58px;
  }
}