.top-header > div .text-right {
  font-size: 11px;
  line-height: 18px; }

.masthead .main-nav-section ul.tier1 li:hover > ul {
  display: none; }
.masthead .main-nav-section ul.tier2 {
  display: none !important; }
.masthead .main-nav-section ul li.open > ul.tier2.visible-xs {
  display: none !important; }
.masthead .main-nav-section ul li.open div.tier2 {
  display: block; }
  .masthead .main-nav-section ul li.open div.tier2 .active .tier3 {
    display: block; }
    .masthead .main-nav-section ul li.open div.tier2 .active .tier3:hover {
      cursor: auto; }
.masthead .main-nav-section div.tier2 {
  display: none;
  left: 0;
  width: 100%;
  background-color: #eee;
  position: absolute;
  border-bottom: 1px solid #ccc; }
  .masthead .main-nav-section div.tier2 .active .triangle-top {
    display: block; }
  .masthead .main-nav-section div.tier2 .triangle-top {
    content: "";
    transform: rotate(225deg);
    -ms-transform: rotate(225deg);
    background: #fff;
    height: 16px;
    position: relative;
    top: 10px;
    width: 16px;
    left: 17%;
    box-shadow: 1px 1px 0 #cdcdcd;
    display: none; }
  .masthead .main-nav-section div.tier2 > .container > div {
    width: 25%;
    float: left;
    display: inline-block; }
    .masthead .main-nav-section div.tier2 > .container > div.last-row {
      width: 100%; }
    .masthead .main-nav-section div.tier2 > .container > div > a {
      font-weight: normal;
      padding: 15px 0 0 0; }
      .masthead .main-nav-section div.tier2 > .container > div > a:hover {
        text-decoration: underline; }
  .masthead .main-nav-section div.tier2 .tier3 {
    display: none;
    left: 0;
    width: 100%;
    background-color: #fff;
    position: absolute;
    box-shadow: 0 8px 9px -9px #737373;
    margin-top: 11px; }
    .masthead .main-nav-section div.tier2 .tier3 .container {
      padding: 20px 0; }
      .masthead .main-nav-section div.tier2 .tier3 .container .row > div.last-row a {
        font-size: 14px; }
      .masthead .main-nav-section div.tier2 .tier3 .container .row > div > div {
        float: left; }
        .masthead .main-nav-section div.tier2 .tier3 .container .row > div > div > a {
          font-size: 15px; }
        .masthead .main-nav-section div.tier2 .tier3 .container .row > div > div a {
          padding: 0;
          font-weight: bold; }
          .masthead .main-nav-section div.tier2 .tier3 .container .row > div > div a:hover {
            text-decoration: none; }
            .masthead .main-nav-section div.tier2 .tier3 .container .row > div > div a:hover span {
              text-decoration: underline; }
          .masthead .main-nav-section div.tier2 .tier3 .container .row > div > div a i {
            vertical-align: middle;
            font-size: 12px; }
        .masthead .main-nav-section div.tier2 .tier3 .container .row > div > div small {
          color: #666; }
        .masthead .main-nav-section div.tier2 .tier3 .container .row > div > div ul {
          display: block;
          margin-left: -4px; }
          .masthead .main-nav-section div.tier2 .tier3 .container .row > div > div ul > li a {
            font-size: 85%;
            padding: 4px;
            display: inline-block; }
            .masthead .main-nav-section div.tier2 .tier3 .container .row > div > div ul > li a:hover {
              background-color: #d9edf6;
              text-decoration: none; }
      .masthead .main-nav-section div.tier2 .tier3 .container .row > div > a {
        float: left;
        margin-right: 10px;
        padding: 0; }
      .masthead .main-nav-section div.tier2 .tier3 .container .row > div aside {
        background-color: #eee;
        padding: 15px;
        border-radius: 5px;
        margin-bottom: 10px; }
        .masthead .main-nav-section div.tier2 .tier3 .container .row > div aside > div > small {
          color: #666; }
        .masthead .main-nav-section div.tier2 .tier3 .container .row > div aside > div > a {
          font-size: 15px; }
        .masthead .main-nav-section div.tier2 .tier3 .container .row > div aside > div a {
          padding: 4px 0 0 0; }
          .masthead .main-nav-section div.tier2 .tier3 .container .row > div aside > div a:hover {
            text-decoration: underline; }

/*XS*/
@media (max-width: 767px) {
  .masthead .main-nav-section ul.tier2.visible-xs {
    display: block !important; } }
/*SM*/
/*MD*/
/*LG*/
