.masthead .main-nav-section ul.tier1 li:hover > ul {
  display: none; }
.masthead .main-nav-section ul.tier2 {
  display: none !important; }
.masthead .main-nav-section ul li.open > ul.tier2.visible-xs {
  display: none !important; }
.masthead .main-nav-section ul li.open div.tier2 {
  display: block; }
  .masthead .main-nav-section ul li.open div.tier2 .col-sm-3.active .tier3 {
    display: block; }
.masthead .main-nav-section div.tier2 {
  display: none;
  left: 0;
  width: 100%;
  background-color: #eee;
  position: absolute; }
  .masthead .main-nav-section div.tier2 .tier3 {
    display: none;
    left: 0;
    width: 100%;
    background-color: #fff;
    position: absolute; }
    .masthead .main-nav-section div.tier2 .tier3 .container {
      padding: 20px 0; }
      .masthead .main-nav-section div.tier2 .tier3 .container .col-sm-3 > div {
        float: left;
        width: 70%; }
        .masthead .main-nav-section div.tier2 .tier3 .container .col-sm-3 > div a {
          padding: 0;
          font-size: 15px;
          font-weight: bold; }
      .masthead .main-nav-section div.tier2 .tier3 .container .col-sm-3 > a {
        float: left;
        margin-right: 10px;
        padding: 0; }

/*XS*/
@media (max-width: 767px) {
  .masthead .main-nav-section ul.tier2.visible-xs {
    display: block !important; } }
/*SM*/
/*MD*/
/*LG*/
