.masthead .main-nav-section {
  ul {
    &.tier1 {
      li:hover > ul {
        display: none;
      }
    }
    &.tier2 {
      display: none !important;
    }
    li.open {
      > ul.tier2.visible-xs {
        display: none !important;
      }
      div.tier2{
        display: block;
        .col-sm-3.active .tier3{
          display: block;
        }
      }
    }
  }
  div.tier2 {
    display: none;
    left: 0;
    width: 100%;
    background-color: #eee;
    position: absolute;
    .tier3 {
      display: none;
      left: 0;
      width: 100%;
      background-color: #fff;
      position: absolute;
      .container {
        padding: 20px 0;
        .col-sm-3 {
          > div {
            float: left;
            width: 70%;
            a {
              padding: 0;
              font-size: 15px;
              font-weight: bold;
            }
          }
          > a {
            float: left;
            margin-right: 10px;
            padding: 0;
          }
        }
      }
    }
  }
}

/*XS*/
@media (max-width: 767px) {
  .masthead .main-nav-section ul.tier2.visible-xs {
    display: block !important;
  }
}

@media (min-width: 768px) {

}

/*SM*/
@media (max-width: 991px) and (min-width: 768px) {

}

/*MD*/
@media (min-width: 992px) {

}

/*LG*/
@media (min-width: 1200px) {

}