.sso, .login {
  /* login form has double button - fix extra padding */
  /* disabled buttons */ }
  .sso button.btn, .login button.btn {
    margin-top: 15px;
    margin-bottom: 26px;
    font-size: 16px; }
  .sso .label-top .btn-primary, .login .label-top .btn-primary {
    margin-bottom: 10px !important; }
  .sso .label-top .btn-default, .login .label-top .btn-default {
    margin-top: 0;
    margin-bottom: 10px; }
  .sso button[disabled=disabled], .login button[disabled=disabled] {
    color: #444; }

.sso .account-benefits h3 {
  margin-top: 11px;
  margin-bottom: 10px !important; }
.sso .account-benefits ul {
  list-style-type: none;
  padding-left: 0; }
.sso .account-benefits li {
  font-size: 16px;
  line-height: 30px;
  color: #444;
  padding-bottom: 0; }
.sso .account-benefits span {
  display: inline-block;
  margin-right: 10px; }
.sso .account-benefits .icon-small-whitepaper:before {
  content: "\e669"; }
.sso .account-benefits .icon-small-download:before {
  content: "\e61f"; }
.sso .account-benefits .icon-small-calendar:before {
  content: "\e60d"; }
.sso .account-benefits .icon-small-support:before {
  content: "\e65a"; }

.sso.edit-account h1 {
  margin-bottom: 17px; }
.sso.edit-account button.btn {
  margin-bottom: 10px; }

.sso.edit-email h1 {
  margin-bottom: 17px; }
.sso.edit-email .email-instructions {
  margin-bottom: 13px; }
.sso.edit-email .form-footer > div:last-child {
  padding-left: 0;
  padding-bottom: 0; }
.sso.edit-email button.btn {
  margin-top: 15px; }

.sso.create-account h1 {
  margin-bottom: 16px; }

/* login Remember me checkbox */
#lnkForgotPwd {
  display: block; }

/* My Account styles */
.sso.my-account .sso-links a {
  display: block;
  margin-bottom: 12px; }
.sso.my-account .sso-links h3 {
  font-size: 24px;
  line-height: 28px;
  margin-top: 14px;
  margin-bottom: 24px; }
.sso.my-account .account-info > div {
  margin-bottom: 14px; }
.sso.my-account .account-info > div:last-child {
  margin-bottom: 6px; }
.sso.my-account span {
  font-weight: bold; }

/* tooltip Styles brought from Dell Library */
.sso {
  /* Form Error Alert styles from dell ui library */ }
  .sso .tooltip.in {
    opacity: 100;
    filter: alpha(opacity=10000); }
  .sso .tooltip-inner {
    background: #ffffff;
    color: #aaaaaa; }
  .sso .tooltip .arrow {
    border-width: 11px; }
  .sso .tooltip {
    position: absolute;
    z-index: 1030;
    display: block;
    visibility: visible;
    background-color: #ffffff;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    font-size: 12px;
    line-height: 1.4;
    border: 1px solid #aaaaaa;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    opacity: 0;
    filter: alpha(opacity=0);
    white-space: normal; }
  .sso .tooltip.in {
    opacity: 0.9;
    filter: alpha(opacity=90); }
  .sso .tooltip.top {
    margin-top: -3px;
    padding: 5px 10px; }
  .sso .tooltip.right {
    margin-left: 12px;
    padding: 5px 10px; }
  .sso .tooltip.bottom {
    margin-top: 12px;
    padding: 5px 10px; }
  .sso .tooltip.left {
    margin-left: -5px;
    padding: 5px 10px; }
  .sso .tooltip-inner {
    max-width: 250px;
    min-height: 20px;
    padding: 3px 8px;
    color: #444444;
    text-align: left;
    text-decoration: none;
    background-color: #ffffff;
    border-radius: 1px; }
  .sso .tooltip-inner:empty {
    display: none; }
  .sso .tooltip .tooltip-arrow,
  .sso .tooltip .tooltip-arrow:after {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid; }
  .sso .tooltip .tooltip-arrow {
    border-width: 11px; }
  .sso .tooltip .tooltip-arrow:after {
    border-width: 10px;
    content: ""; }
  .sso .tooltip.top .tooltip-arrow {
    left: 50%;
    margin-left: -11px;
    border-bottom-width: 0;
    border-top-color: #444;
    border-top-color: rgba(0, 0, 0, 0.25);
    bottom: -11px; }
  .sso .tooltip.top .tooltip-arrow:after {
    bottom: 1px;
    margin-left: -10px;
    border-bottom-width: 0;
    border-top-color: #ffffff; }
  .sso .tooltip.right .tooltip-arrow {
    top: 50%;
    left: -10px;
    margin-top: -10px;
    border-left-width: 1;
    border-right-color: #444;
    border-right-color: rgba(0, 0, 0, 0.25); }
  .sso .tooltip.right .tooltip-arrow:after {
    left: 2px;
    bottom: -10px;
    border-left-width: 0;
    border-right-color: #ffffff; }
  .sso .tooltip.bottom .tooltip-arrow {
    left: 50%;
    margin-right: -10px;
    border-top-width: 0;
    border-bottom-color: #444;
    border-bottom-color: rgba(0, 0, 0, 0.25);
    top: -11px; }
  .sso .tooltip.bottom .tooltip-arrow:after {
    top: 2px;
    margin-left: -10px;
    border-top-width: 0px;
    border-bottom-color: #ffffff; }
  .sso .tooltip.left .tooltip-arrow {
    top: 50%;
    right: -10px;
    margin-top: -10px;
    border-right-width: 1;
    border-left-color: #444;
    border-left-color: rgba(0, 0, 0, 0.25); }
  .sso .tooltip.left .tooltip-arrow:after {
    right: 2px;
    bottom: -10px;
    border-right-width: 0;
    border-left-color: #ffffff; }
  .sso .tooltip {
    font-size: 12px;
    line-height: 1.4; }
  .sso .tooltip.in {
    opacity: 100;
    filter: alpha(opacity=10000); }
  .sso .tooltip.left {
    margin-left: -10px; }
  .sso .popup-alert {
    background-image: url("/images/shared/popup-alert.png");
    display: inline-block;
    width: 16px;
    height: 13px;
    margin-right: 5px; }
  .sso [data-toggle=tooltip] {
    color: inherit;
    border-bottom: 1px dashed #aaaaaa; }
  .sso [data-toggle=tooltip]:hover {
    text-decoration: none;
    color: inherit; }
  .sso .form-group .alert {
    margin-bottom: 5px;
    text-shadow: none;
    background: #ffffc9;
    border: 1px solid #ce1126;
    position: relative; }
  .sso .form-group .alert:active,
  .sso .form-group .alert:focus {
    background: #ffffff; }
  .sso .alert {
    color: #444;
    padding: 10px 35px 0 40px;
    margin-bottom: 20px;
    text-shadow: none;
    background: #ffffc9;
    border: 1px solid #eee;
    position: relative; }
  .sso .alert h4 {
    margin-bottom: 0;
    color: #444444; }
  .sso .alert p:last-child {
    margin-bottom: 0; }
  .sso .alert > .alert-danger, .sso .alert > .alert-error, .sso .alert > .alert-info, .sso .alert > .alert-success, .sso .alert > .alert-warning {
    background: 0 0;
    color: #444;
    margin-bottom: 20px; }
  .sso .alert-dismissable, .sso .alert-dismissible {
    padding-right: 35px; }
  .sso .alert-danger:before, .sso .alert-error:before {
    content: "\e603";
    font-family: icon-small;
    float: left;
    color: #ce1126;
    position: absolute;
    font-size: 20px;
    left: 0;
    padding-right: 10px;
    padding-left: 10px;
    margin-top: -5px; }
  .sso .alert-info:before {
    content: "\e604";
    font-family: icon-small;
    float: left;
    color: #007db8;
    position: absolute;
    font-size: 20px;
    left: 0;
    padding-right: 10px;
    padding-left: 10px;
    margin-top: -5px; }
  .sso .alert-success:before {
    content: "\e611";
    font-family: icon-small;
    float: left;
    color: #6ea204;
    position: absolute;
    font-size: 20px;
    left: 0;
    padding-right: 10px;
    padding-left: 10px;
    margin-top: -5px; }
  .sso .alert-warning:before {
    content: "\e605";
    font-family: icon-small;
    float: left;
    color: #d74324;
    position: absolute;
    font-size: 20px;
    left: 0;
    padding-right: 10px;
    padding-left: 10px;
    margin-top: -5px; }
  .sso .alert-block {
    padding-top: 14px;
    padding-bottom: 14px; }
  .sso .alert-block > p, .sso .alert-block > ul {
    margin-bottom: 0; }
  .sso .alert-block p + p {
    margin-top: 0; }
  .sso .alert-warning {
    background-color: #ee6411;
    border-color: #d6390f;
    color: #ee6411; }
  .sso .alert-warning hr {
    border-top-color: #be330e; }
  .sso .alert-warning .alert-link {
    color: #be500e; }
  .sso .valid-error {
    display: inline-block;
    padding: 5px;
    border-left: 1px solid #444;
    margin-bottom: 0; }
  .sso .label-error-wrapper label:first-child {
    border-left: none; }

@media (max-width: 767px) {
  .sso .row, .login .row {
    margin-left: 5px;
    margin-right: 5px; }
  .sso form label, .login form label {
    font-weight: normal; }

  .create-new-password button.btn, .edit-password button.btn {
    margin-bottom: 10px; }

  .my-account {
    margin: 0 15px; }
    .my-account .sso-links a {
      display: block;
      margin-bottom: 0 !important;
      box-sizing: border-box;
      padding: 28px 0 28px 5px;
      border-bottom: 1px #ccc solid; }
    .my-account .sso-links a:first-of-type {
      border-top: 1px #ccc solid; }
    .my-account .sso-links :last-child {
      margin-bottom: 20px !important; }
    .my-account .account-info > div {
      margin-bottom: 20px !important; } }
@media (min-width: 768px) {
  .sso .label-inline {
    width: 454px; }
  .sso h1 {
    padding-top: 4px;
    margin-bottom: 24px; }
  .sso form {
    display: table; }
    .sso form .form-group, .sso form .form-footer {
      display: table-row; }
    .sso form label, .sso form .form-footer > div:first-child {
      font-weight: normal;
      display: table-cell;
      width: 28%;
      text-align: right;
      padding-right: 10px;
      vertical-align: middle; }
    .sso form .form-control,
    .sso form .form-footer > div:last-child {
      display: table-cell;
      width: 100%;
      margin: 5px 0; }
  .sso .legal {
    margin-bottom: 6px;
    font-size: 12px;
    line-height: 18px;
    color: #444; }

  .casl .legal {
    margin-top: 16px; }

  .casl .label-top,
  .login .label-top {
    max-width: 320px; }
    .casl .label-top .form-group:first-child,
    .login .label-top .form-group:first-child {
      margin-bottom: 10px; }
    .casl .label-top label,
    .login .label-top label {
      font-weight: normal; }
    .casl .label-top a:hover,
    .login .label-top a:hover {
      text-decoration: none; }
  .casl .checkbox,
  .login .checkbox {
    display: table-cell;
    width: 100%;
    text-align: left;
    margin: 0;
    padding-top: 15px; }
    .casl .checkbox label,
    .login .checkbox label {
      text-align: left; }
  .casl button.btn,
  .login button.btn {
    margin-top: 15px;
    margin-bottom: 10px; }
  .casl .form-group:last-child,
  .login .form-group:last-child {
    margin-bottom: 10px; }

  .create-new-password form label,
  .create-new-password form .form-footer > div:first-child,
  .edit-password form label,
  .edit-password form .form-footer > div:first-child,
  .reset-password form label,
  .reset-password form .form-footer > div:first-child,
  .edit-email form label,
  .edit-email form .form-footer > div:first-child {
    width: 156px !important; }
  .create-new-password form .form-control,
  .create-new-password form .form-footer > div:last-child,
  .create-new-password form #lblemailaccount,
  .edit-password form .form-control,
  .edit-password form .form-footer > div:last-child,
  .edit-password form #lblemailaccount,
  .reset-password form .form-control,
  .reset-password form .form-footer > div:last-child,
  .reset-password form #lblemailaccount,
  .edit-email form .form-control,
  .edit-email form .form-footer > div:last-child,
  .edit-email form #lblemailaccount {
    width: 295px;
    padding-bottom: 10px;
    padding-left: 5px; }
  .create-new-password button.btn,
  .edit-password button.btn,
  .reset-password button.btn,
  .edit-email button.btn {
    margin-top: 25px;
    margin-bottom: 10px; }

  .sso.my-account .account-info > div > span,
  .sso.my-account .account-info > div > div {
    display: inline-block; }
  .sso.my-account .account-info > div > span {
    text-align: right;
    min-width: 120px;
    padding-right: 10px;
    font-weight: bold; } }
.ie8 .sso form,
.ie8 .sso .form-group,
.ie8 .sso .form-control {
  box-sizing: border-box !important; }
.ie8 .sso .form-control {
  margin-bottom: 15px; }
.ie8 .sso .form-control.last-input {
  margin-bottom: 0; }
.ie8 .sso form label {
  vertical-align: inherit !important; }
.ie8 .sso form button.btn {
  margin-top: 5px !important;
  margin-bottom: 16px !important; }
.ie8 .sso .tooltip {
  filter: alpha(opacity=10000);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; }

.ie9 form {
  border-collapse: separate;
  /* Or do nothing, this is default */
  border-spacing: 10px;
  /* Only works if border-collapse is separate */ }
.ie9 .sso button.btn {
  margin-top: 10px !important;
  margin-bottom: 12px !important; }
.ie9 .sso .label-inline {
  width: 520px !important; }
.ie9 .sso .form-footer > div:last-child {
  margin: 0px !important; }
.ie9 .sso .form-control {
  display: inline-block;
  /* display table-cell prevents dropdown arrow to show on ie9*/
  margin-top: 0;
  margin-bottom: 0; }
.ie9 .sso .form-group {
  margin-bottom: 0 !important; }
.ie9 .edit-account {
  margin-bottom: -11px; }
  .ie9 .edit-account h1 {
    margin-bottom: 12px !important; }
.ie9 .edit-email .btn-block {
  width: 294px; }
.ie9 .edit-email button.btn {
  margin-bottom: 0 !important; }
.ie9 .create-account .legal {
  margin-left: 21.66% !important;
  width: 59.33% !important; }
