.listing-entries {
  .img-border {
    height: 185.7px;
  }
}

@media (min-width: 768px) { //SM - tablet
  .listing-entries .img-border {
    height: 124.5px;
  }
}

@media (min-width: 992px) { //MD - Desktop
  .listing-entries .img-border {
    height: 118.4px;
  }
}

@media (min-width: 1200px) { //LG - Desktop
  .listing-entries .img-border {
    height: 152.75px;
  }
}