
/*mobile*/
/**/
@media (max-width: 767px) {
  .listing-entries .img-border {
    height: 187px;
  }
}

/*tablet*/
@media (max-width: 991px)  and (min-width: 768px) {
  .listing-entries .img-border {
    height: 125px;
  }
}

/*desktop*/
@media (min-width: 1200px) {
  .listing-entries .img-border {
    height: 153px;
  }
}