.listing-entries .img-border {
  height: 186.40px; }

@media (min-width: 768px) {
  .listing-entries .img-border {
    height: 124.45px; } }
@media (min-width: 992px) {
  .listing-entries .img-border {
    height: 120.25px; } }
@media (min-width: 1200px) {
  .listing-entries .img-border {
    height: 152.65px; } }
