.icon-headline {
  img {
    display: inline-block;
    float: left;
    margin-right: 15px;
    margin-top: 5px;
  }
  > div > div {
    margin-bottom: 9px;
    min-height: 52px;
    h4 {
      margin-bottom: 0;
    }
  }
}
/*mobile*/
@media (max-width: 767px) {
  .icon-headline > div > div {
    margin-bottom: 13px;
  }
}