.header, .footer {
  width: 100%;
  color: #000000;
  background: #007cb8; }

.header p, .footer p, .header td, .footer td {
  color: #ffffff; }

.header a, .footer a {
  color: #ffffff;
  text-decoration: underline; }

.header a span, .footer a span {
  color: #ffffff; }

.header a:link, .header a:focus, .header a:visited, .header a:active {
  color: #ffffff; }

.footer a:link, .footer a:focus, .footer a:visited, .footer a:active {
  color: #ffffff; }

.bg-grey {
  background: #f9f9f9;
  width: 100%; }

.text-sm {
  font-size: 11px;
  line-height: 1.3em; }

.img-border {
  border: 1px solid #737373; }

#social-media td {
  padding: 20px 10px;
  vertical-align: top; }
#social-media img {
  float: none; }
