@charset "IBM437";
/*
  - Use full 6 character hex value.
*/
@font-face {
  font-family: 'museo-sans-for-dell-100';
  src: url("/fonts/museosansfordell-100-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/museosansfordell-100-webfont.woff") format("woff"), url("/fonts/museosansfordell-100-webfont.ttf") format("truetype"), url("/fonts/museosansfordell-100-webfont.svg#MuseoSansForDell100") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'museo-sans-for-dell-300';
  src: url("/fonts/museosansfordell-300-webfont.eot");
  src: url("/fonts/museosansfordell-300-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/museosansfordell-300-webfont.woff") format("woff"), url("/fonts/museosansfordell-300-webfont.ttf") format("truetype"), url("/fonts/museosansfordell-300-webfont.svg#MuseoSansForDell300") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'museo-sans-for-dell-700';
  src: url("/fonts/museosansfordell-700-webfont.eot");
  src: url("/fonts/museosansfordell-700-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/museosansfordell-700-webfont.woff") format("woff"), url("/fonts/museosansfordell-700-webfont.ttf") format("truetype"), url("/fonts/museosansfordell-700-webfont.svg#MuseoSansForDell700") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'icon-ui';
  src: url("/fonts/icon-ui.eot");
  src: url("/fonts/icon-ui.eot?#iefix") format("embedded-opentype"), url("/fonts/icon-ui.woff") format("woff"), url("/fonts/icon-ui.ttf") format("truetype"), url("/fonts/icon-ui.svg#icon-ui") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'icon-small';
  src: url("/fonts/icon-small.eot");
  src: url("/fonts/icon-small.eot?#iefix") format("embedded-opentype"), url("/fonts/icon-small.woff") format("woff"), url("/fonts/icon-small.ttf") format("truetype"), url("/fonts/icon-small.svg#icon-small") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'icon-large';
  src: url("/fonts/icon-large.eot");
  src: url("/fonts/icon-large.eot?#iefix") format("embedded-opentype"), url("/fonts/icon-large.woff") format("woff"), url("/fonts/icon-large.ttf") format("truetype"), url("/fonts/icon-large.svg#icon-large") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url("/fonts/glyphicons-halflings-regular.eot");
  src: url("/fonts/glyphicons-halflings-regular.eot?#iefix") format("embedded-opentype"), url("/fonts/glyphicons-halflings-regular.woff2") format("woff2"), url("/fonts/glyphicons-halflings-regular.woff") format("woff"), url("/fonts/glyphicons-halflings-regular.ttf") format("truetype"), url("/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular") format("svg"); }

/**********************************************
* Ink v1.0.5 - Copyright 2013 ZURB Inc        *
**********************************************/
/* Client-specific Styles & Reset */
#outlook a {
  padding: 0; }

body {
  width: 100% !important;
  min-width: 580px;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  margin: 0;
  padding: 0; }

.ExternalClass {
  width: 100%;
  line-height: 100%; }
  .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div {
    line-height: 100%; }

img {
  outline: none;
  text-decoration: none;
  -ms-interpolation-mode: bicubic;
  width: auto;
  max-width: 100%;
  float: left;
  clear: both;
  display: block; }

center {
  width: 100%;
  min-width: 580px; }

a img {
  border: none; }

p {
  margin: 0 0 0 10px; }

table {
  border-spacing: 0;
  border-collapse: collapse; }

td {
  word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
  border-collapse: collapse !important; }

table, tr, td {
  padding: 0;
  vertical-align: top;
  text-align: left; }

hr {
  color: #d9d9d9;
  background-color: #d9d9d9;
  height: 1px;
  border: none; }

/* Responsive Grid */
table.body {
  height: 100%;
  width: 100%; }
table.container {
  width: 580px;
  margin: 0 auto;
  text-align: inherit; }
table.row {
  padding: 0px;
  width: 100%;
  position: relative; }
table.container table.row {
  display: block; }

td.wrapper {
  padding: 10px 20px 0px 0px;
  position: relative; }
td.sub-column, td.sub-columns {
  min-width: 0px; }

table.columns, table.column {
  margin: 0 auto; }
  table.columns .text-pad, table.column .text-pad {
    padding-left: 10px;
    padding-right: 10px; }
  table.columns .left-text-pad, table.column .left-text-pad {
    padding-left: 10px; }
  table.columns .right-text-pad, table.column .right-text-pad {
    padding-right: 10px; }
table.columns td, table.column td {
  padding: 0px 0px 10px; }
table.columns td.sub-columns, table.column td.sub-columns, table.columns td.sub-column, table.column td.sub-column {
  padding-right: 10px; }
table.row td.last, table.container td.last {
  padding-right: 0px; }
table.one {
  width: 30px; }
table.two {
  width: 80px; }
table.three {
  width: 130px; }
table.four {
  width: 180px; }
table.five {
  width: 230px; }
table.six {
  width: 280px; }
table.seven {
  width: 330px; }
table.eight {
  width: 380px; }
table.nine {
  width: 430px; }
table.ten {
  width: 480px; }
table.eleven {
  width: 530px; }
table.twelve {
  width: 580px; }
table.one center {
  min-width: 30px; }
table.two center {
  min-width: 80px; }
table.three center {
  min-width: 130px; }
table.four center {
  min-width: 180px; }
table.five center {
  min-width: 230px; }
table.six center {
  min-width: 280px; }
table.seven center {
  min-width: 330px; }
table.eight center {
  min-width: 380px; }
table.nine center {
  min-width: 430px; }
table.ten center {
  min-width: 480px; }
table.eleven center {
  min-width: 530px; }
table.twelve center {
  min-width: 580px; }
table.one .panel center {
  min-width: 10px; }
table.two .panel center {
  min-width: 60px; }
table.three .panel center {
  min-width: 110px; }
table.four .panel center {
  min-width: 160px; }
table.five .panel center {
  min-width: 210px; }
table.six .panel center {
  min-width: 260px; }
table.seven .panel center {
  min-width: 310px; }
table.eight .panel center {
  min-width: 360px; }
table.nine .panel center {
  min-width: 410px; }
table.ten .panel center {
  min-width: 460px; }
table.eleven .panel center {
  min-width: 510px; }
table.twelve .panel center {
  min-width: 560px; }

.body .columns td.one, .body .column td.one {
  width: 8.333333%; }
.body .columns td.two, .body .column td.two {
  width: 16.666666%; }
.body .columns td.three, .body .column td.three {
  width: 25%; }
.body .columns td.four, .body .column td.four {
  width: 33.333333%; }
.body .columns td.five, .body .column td.five {
  width: 41.666666%; }
.body .columns td.six, .body .column td.six {
  width: 50%; }
.body .columns td.seven, .body .column td.seven {
  width: 58.333333%; }
.body .columns td.eight, .body .column td.eight {
  width: 66.666666%; }
.body .columns td.nine, .body .column td.nine {
  width: 75%; }
.body .columns td.ten, .body .column td.ten {
  width: 83.333333%; }
.body .columns td.eleven, .body .column td.eleven {
  width: 91.666666%; }
.body .columns td.twelve, .body .column td.twelve {
  width: 100%; }

td.offset-by-one {
  padding-left: 50px; }
td.offset-by-two {
  padding-left: 100px; }
td.offset-by-three {
  padding-left: 150px; }
td.offset-by-four {
  padding-left: 200px; }
td.offset-by-five {
  padding-left: 250px; }
td.offset-by-six {
  padding-left: 300px; }
td.offset-by-seven {
  padding-left: 350px; }
td.offset-by-eight {
  padding-left: 400px; }
td.offset-by-nine {
  padding-left: 450px; }
td.offset-by-ten {
  padding-left: 500px; }
td.offset-by-eleven {
  padding-left: 550px; }
td.expander {
  visibility: hidden;
  width: 0px;
  padding: 0 !important; }

table.columns .text-pad, table.column .text-pad {
  padding-left: 10px;
  padding-right: 10px; }
table.columns .left-text-pad, table.columns .text-pad-left {
  padding-left: 10px; }
table.column .left-text-pad, table.column .text-pad-left {
  padding-left: 10px; }
table.columns .right-text-pad, table.columns .text-pad-right {
  padding-right: 10px; }
table.column .right-text-pad, table.column .text-pad-right {
  padding-right: 10px; }

/* Block Grid */
.block-grid {
  width: 100%;
  max-width: 580px; }
  .block-grid td {
    display: inline-block;
    padding: 10px; }

.two-up td {
  width: 270px; }

.three-up td {
  width: 173px; }

.four-up td {
  width: 125px; }

.five-up td {
  width: 96px; }

.six-up td {
  width: 76px; }

.seven-up td {
  width: 62px; }

.eight-up td {
  width: 52px; }

/* Alignment & Visibility Classes */
table.center, td.center, h1.center, h2.center, h3.center, h4.center, h5.center, h6.center {
  text-align: center; }

span.center {
  display: block;
  width: 100%;
  text-align: center; }

img.center {
  margin: 0 auto;
  float: none; }

.show-for-small, .hide-for-desktop {
  display: none; }

/* Typography */
body, table.body, h1, h2, h3, h4, h5, h6, p, td {
  color: #444444;
  font-family: "Helvetica", "Arial", sans-serif;
  font-weight: normal;
  padding: 0;
  margin: 0;
  text-align: left;
  line-height: 1.3; }

h1, h2, h3, h4, h5, h6 {
  font-family: "museo-sans-for-dell-300","Trebuchet MS","Roboto","Segoe UI","Helvetica Neue","Meiryo UI Reg","メイリオ Reg","MS UI Gothic Reg","Hiragino Kaku Gothic Reg","ヒラギノ角ゴ Pro W3 Reg","Microsoft YaHei","微软雅黑","Hiragino Sans GB","Microsoft JhengHei","微軟正黑體","Malgun Gothic",Gulim,Tahoma,"Arial Unicode",sans-serif;
  word-break: normal; }

h1 {
  font-size: 32px;
  line-height: 1.16667;
  font-weight: 500; }

h2 {
  font-size: 24px;
  line-height: 1.16667;
  font-weight: 500;
  margin-bottom: 20px; }

h3 {
  font-size: 32px; }

h4 {
  font-size: 28px; }

h5 {
  font-size: 24px; }

h6 {
  font-size: 20px; }

body, table.body, p, td {
  font-size: 14px;
  line-height: 19px; }

p {
  margin-bottom: 10px; }
  p.lead, p.lede, p.leed {
    font-size: 18px;
    line-height: 21px; }

small {
  font-size: 10px; }

a {
  color: #2ba6cb;
  text-decoration: none; }
  a:hover, a:active {
    color: #2795b6 !important; }
  a:visited {
    color: #2ba6cb !important; }

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  color: #2ba6cb; }

h1 a:active, h2 a:active, h3 a:active, h4 a:active, h5 a:active, h6 a:active, h1 a:visited, h2 a:visited, h3 a:visited, h4 a:visited, h5 a:visited, h6 a:visited {
  color: #2ba6cb !important; }

/* Panels */
.panel {
  background: #f2f2f2;
  border: 1px solid #d9d9d9;
  padding: 10px !important; }

.sub-grid table {
  width: 100%; }
.sub-grid td.sub-columns {
  padding-bottom: 0; }

/* Buttons */
table.button {
  width: 100%;
  overflow: hidden;
  margin: 20px 0; }
  table.button td {
    display: block;
    width: auto !important;
    text-align: center;
    background: #005a85;
    border: 1px solid #004261;
    padding: 8px; }
    table.button td a, table.button td a:visited {
      text-decoration: none;
      font-family: Helvetica, Arial, sans-serif;
      color: #ffffff;
      font-size: 16px;
      white-space: nowrap;
      display: block; }
    table.button td.button-grey {
      background: #eeeeee;
      border: 1px solid #cccccc; }
      table.button td.button-grey a, table.button td.button-grey a:visited {
        color: #007db8; }
  table.button:hover td, table.button:visited td, table.button:active td {
    background: #005a85;
    border: 1px solid #004261; }
    table.button:hover td a, table.button:hover td a:visited, table.button:visited td a, table.button:visited td a:visited, table.button:active td a, table.button:active td a:visited {
      color: #ffffff; }
    table.button:hover td.button-grey, table.button:visited td.button-grey, table.button:active td.button-grey {
      background: #d4d4d4;
      border: 1px solid #adadad; }
      table.button:hover td.button-grey a, table.button:hover td.button-grey a:visited, table.button:visited td.button-grey a, table.button:visited td.button-grey a:visited, table.button:active td.button-grey a, table.button:active td.button-grey a:visited {
        color: #007db8; }
table.secondary td {
  background: #e9e9e9;
  border-color: #d0d0d0;
  color: #555555; }
  table.secondary td a {
    color: #555555; }
table.secondary:hover td {
  background: #d0d0d0 !important;
  color: #555555; }
  table.secondary:hover td a {
    color: #555555 !important; }
table.secondary td a:visited, table.secondary:active td a {
  color: #555555 !important; }
table.success td {
  background: #5da423;
  border-color: #457a1a; }
table.success:hover td {
  background: #457a1a !important; }
table.alert td {
  background: #c60f13;
  border-color: #970b0e; }
table.alert:hover td {
  background: #970b0e !important; }
table.radius td {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px; }
table.round td {
  -webkit-border-radius: 500px;
  -moz-border-radius: 500px;
  border-radius: 500px; }

/* Outlook First */
body.outlook p {
  display: inline !important; }

/*  Media Queries */
@media only screen and (max-width: 600px) {
  table[class="body"] img {
    width: auto !important;
    height: auto !important; }
  table[class="body"] center {
    min-width: 0 !important; }
  table[class="body"] .container {
    width: 95% !important; }
  table[class="body"] .row {
    width: 100% !important;
    display: block !important; }
  table[class="body"] .wrapper {
    display: block !important;
    padding-right: 0 !important; }
  table[class="body"] .columns, table[class="body"] .column {
    table-layout: fixed !important;
    float: none !important;
    width: 100% !important;
    padding-right: 0px !important;
    padding-left: 0px !important;
    display: block !important; }
  table[class="body"] .wrapper.first .columns, table[class="body"] .wrapper.first .column {
    display: table !important; }
  table[class="body"] table.columns td, table[class="body"] table.column td {
    width: 100% !important; }
  table[class="body"] .columns td.one, table[class="body"] .column td.one {
    width: 8.333333% !important; }
  table[class="body"] .columns td.two, table[class="body"] .column td.two {
    width: 16.666666% !important; }
  table[class="body"] .columns td.three, table[class="body"] .column td.three {
    width: 25% !important; }
  table[class="body"] .columns td.four, table[class="body"] .column td.four {
    width: 33.333333% !important; }
  table[class="body"] .columns td.five, table[class="body"] .column td.five {
    width: 41.666666% !important; }
  table[class="body"] .columns td.six, table[class="body"] .column td.six {
    width: 50% !important; }
  table[class="body"] .columns td.seven, table[class="body"] .column td.seven {
    width: 58.333333% !important; }
  table[class="body"] .columns td.eight, table[class="body"] .column td.eight {
    width: 66.666666% !important; }
  table[class="body"] .columns td.nine, table[class="body"] .column td.nine {
    width: 75% !important; }
  table[class="body"] .columns td.ten, table[class="body"] .column td.ten {
    width: 83.333333% !important; }
  table[class="body"] .columns td.eleven, table[class="body"] .column td.eleven {
    width: 91.666666% !important; }
  table[class="body"] .columns td.twelve, table[class="body"] .column td.twelve {
    width: 100% !important; }
  table[class="body"] td.offset-by-one, table[class="body"] td.offset-by-two, table[class="body"] td.offset-by-three, table[class="body"] td.offset-by-four, table[class="body"] td.offset-by-five, table[class="body"] td.offset-by-six, table[class="body"] td.offset-by-seven, table[class="body"] td.offset-by-eight, table[class="body"] td.offset-by-nine, table[class="body"] td.offset-by-ten, table[class="body"] td.offset-by-eleven {
    padding-left: 0 !important; }
  table[class="body"] table.columns td.expander {
    width: 1px !important; }
  table[class="body"] .right-text-pad, table[class="body"] .text-pad-right {
    padding-left: 10px !important; }
  table[class="body"] .left-text-pad, table[class="body"] .text-pad-left {
    padding-right: 10px !important; }
  table[class="body"] .hide-for-small, table[class="body"] .show-for-desktop {
    display: none !important; }
  table[class="body"] .show-for-small, table[class="body"] .hide-for-desktop {
    display: inherit !important; } }
.header, .footer {
  width: 100%;
  background: #007cb8;
  color: #ffffff; }
  .header p, .footer p {
    color: #ffffff; }
  .header td, .footer td {
    color: #ffffff; }
  .header a, .footer a {
    color: #ffffff;
    text-decoration: underline; }
    .header a span, .footer a span {
      color: #ffffff; }
    .header a:link, .header a:focus, .header a:visited, .header a:active, .footer a:link, .footer a:focus, .footer a:visited, .footer a:active {
      color: #ffffff; }

.bg-grey {
  background: #f9f9f9;
  width: 100%; }

.pad-vertical-20 {
  padding: 20px 0 !important; }

.pad-vertical-30 {
  padding: 20px 0 !important; }

.pad-bottom-20 {
  padding-bottom: 20px !important; }

.no-padding {
  padding: 0 !important; }

.text-sm {
  font-size: 11px;
  line-height: 1.3em; }

.img-border {
  border: 1px solid #737373; }

/* http://software.dell.com/kace/ */
.img-border-grey {
  border: 1px solid #ddd; }

#social-media {
  /*a, span {
    display: inline-block;
  }*/ }
  #social-media td {
    padding: 20px 10px;
    vertical-align: top; }
  #social-media img {
    float: none; }
