.header, .footer {
  width: 100%;
  color: #000; }

.header p, .footer p {
  color: #000; }

.header td, .footer td {
  color: #000; }

.header a, .footer a {
  color: #007db8;
  text-decoration: underline; }

.header a span, .footer a span {
  color: #007db8; }

.header a:link, .header a:focus, .header a:visited, .header a:active, .footer a:link, .footer a:focus, .footer a:visited, .footer a:active {
  color: #007db8; }

.bg-grey {
  background: #f9f9f9;
  width: 100%; }

.pv-20 {
  padding: 20px 0 !important; }

.pv-30 {
  padding: 20px 0 !important; }

.text-sm {
  font-size: 11px;
  line-height: 1.3em; }

.img-border {
  border: 1px solid #737373; }

#social-media {
  /*a, span {
      display: inline-block;
  }*/ }

#social-media td {
  padding: 20px 10px;
  vertical-align: top; }

#social-media img {
  float: none; }

.header, .footer {
  width: 100%;
  background: #007cb8;
  color: #ffffff; }
  .header p, .footer p {
    color: #ffffff; }
  .header td, .footer td {
    color: #ffffff; }
  .header a, .footer a {
    color: #ffffff;
    text-decoration: underline; }
    .header a span, .footer a span {
      color: #ffffff; }
    .header a:link, .header a:focus, .header a:visited, .header a:active, .footer a:link, .footer a:focus, .footer a:visited, .footer a:active {
      color: #ffffff; }

.bg-grey {
  background: #f9f9f9;
  width: 100%; }

.pv-20 {
  padding: 20px 0 !important; }

.pad-vertical-30 {
  padding: 20px 0 !important; }

.pb-20 {
  padding-bottom: 20px !important; }

.text-sm {
  font-size: 11px;
  line-height: 1.3em; }

.img-border {
  border: 1px solid #737373; }

#social-media {
  /*a, span {
    display: inline-block;
  }*/ }
  #social-media td {
    padding: 20px 10px;
    vertical-align: top; }
  #social-media img {
    float: none; }
