.title-description {
  margin-bottom: 24px;
  a,p {
    font-size: 16px;
  }
  h1 {
    margin-bottom: 7px;
    width: 86%;
  }
}
/*claim box*/
.bg-dark-gray {
  background-color: #eee;
  padding: 20px;
  display: inline-block;
  h3 {
    font-family: 'Museo Sans 700', 'Trebuchet MS', Arial;
    font-weight: 400;
  }
  p {
    font-family: 'Museo Sans 300', 'Trebuchet MS', Arial;
    font-size: 16px;
  }
}

/*mobile*/
@media (max-width: 767px) {
  .masthead {
    margin-bottom: 0;
  }
  /*intro*/
  .visible-xs {
    &.inline {
      display: inline !important;
    }
  }
  .has-right-border {
    border-right: 1px solid #e2e2e2;
  }
  .bg-dark-gray {
    padding: 17px 15px;
    margin-bottom: 20px;
  }
}
