/*mobile*/
@media (max-width: 767px) {
  .col-4-filmstrip {
    .pagination-container {
      padding: 0 11px;
    }
    p{
      width: 100%;
    }
  }
}

/*tablet*/
@media (max-width: 991px) and (min-width: 768px) {
  .col-4-filmstrip {
    .pagination-container {
      padding-left:0;
      > div > ul {
        > li {
          img {
            float: right;
            margin-right: 0;
          }
          > div {
            float: left;
            padding-left:0;
            p {
              display: block;
              margin: 0 auto;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 1200px) {
  .col-4-filmstrip {
    .pagination-container {
      > div > ul {
        > li {
          img {
            float: right;
            margin-right: 36px;
          }
          > div {
            float: left;
            padding-left:10px;
            p {
              display: block;
              margin: 0 auto;
            }
          }
        }
      }
    }
  }
}