.font-size-16 {
  font-size: 16px; }

.pr-76 {
  padding-right: 76px; }

.video-thumb-m img {
  border: 1px solid #444; }
.video-thumb-m > a:first-child:before {
  content: url("/images/shared/ooyala-playhead-icon.png");
  position: absolute;
  width: 32px;
  height: 32px;
  margin-top: 21%;
  margin-left: 42%; }

/*******video player start*******/
.media-player-container {
  clear: both;
  overflow: hidden;
  width: 100%;
  position: relative;
  padding: 53% 0 0 0; }

.player-wrapper > div {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 900;
  overflow: hidden; }
.player-wrapper .innerWrapper {
  background: #000;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }
  .player-wrapper .innerWrapper:-webkit-full-screen {
    width: 100%;
    height: 100%; }
    .player-wrapper .innerWrapper:-webkit-full-screen video {
      width: 100%; }
  .player-wrapper .innerWrapper.fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff; }
.player-wrapper .plugins {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 903; }

#ooyalaplayer > div, .ooyalaplayer > div {
  position: absolute !important; }

.player-wrapper {
  width: 100%;
  height: 100%; }
  .player-wrapper > div {
    position: static; }
  .player-wrapper .oo_promo div.oo_start_button {
    width: 60px !important;
    height: 60px !important;
    top: 37% !important;
    left: 45% !important;
    background-color: #000 !important; }

#ooyalaplayer .oo_promo div.oo_start_button, #ooyalaplayer .oo_replay, .ooyalaplayer .oo_promo div.oo_start_button, .ooyalaplayer .oo_replay {
  top: 37% !important;
  left: 45% !important; }

.show-contact {
  right: 0;
  bottom: 0; }

#overlay > div {
  margin: 2% 0 0 7%; }
#overlay h2 {
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
  margin-bottom: 11px; }
#overlay label {
  padding: 0; }

#sendemail > a {
  line-height: 30px; }

#overlay textarea, #overlay input[type='text'] {
  color: #333; }
#overlay > div input, #overlay > div textarea {
  width: auto;
  height: auto; }
#overlay > div #sharebuttons p {
  width: 52%; }

#ooyalaplayer .oo_full_controls .oo_playhead,
.ooyalaplayer .oo_full_controls .oo_playhead {
  background-origin: inherit;
  top: -1px !important; }

/*******video player end*******/
/*mobile*/
/*remove toolbar until video player becomes responsive*/
@media (max-width: 767px) {
  #ooyalaplayer .plugins,
  .ooyalaplayer .plugins {
    display: none !important; } }
@media (min-width: 1200px) {
  /*home*/
  .container {
    padding-left: 0;
    padding-right: 0; }

  .video-thumb-m > a:last-child {
    width: 539px;
    display: block; } }
