
thead tr{
  border-bottom: 0px dotted #aaa;
  padding-bottom: 15px;
}

tbody td{
  font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-stretch: normal;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
}

th {
  font-weight: 500;
  text-align: left;
}

th, td {
  padding: 5px;
}

tr > td {
  border-top: 0px !important;
}

.table > thead > tr > th {
  vertical-align: bottom;
  border-bottom: 0px !important;
}

.table-striped > tbody > tr:nth-of-type(odd){
  background-color: #FFFFFF !important;
}

.table > thead > tr > th, .table > thead > tr > td, .table > tbody > tr > th, .table > tbody > tr > td, .table > tfoot > tr > th, .table > tfoot > tr > td {
  padding: 3px 8px;
  vertical-align: middle;
}

.btn:hover, .btn:focus, .btn.focus {
  color: unset;
  text-decoration: none;
}

table {
  font-family: "Trebuchet MS";
  font-size: 16px;
  border-collapse: collapse;
  border-spacing: 0; }

#form-step-0 {
  border-radius: 0px;
  padding: 20px;
  margin-bottom: 30px;
  border: 1px solid #c9c9c9;
  background-color: #f9f9f9;
}

.btn-inactive {
  background-color: #F6F6F6;
  padding: 0 9px;
  height: 34px;
  border: 1px solid #ccc !important;
  color: #ccc;
  cursor: allowed;
  pointer-events: none;
}

.grey {
  color: #666;
}

.btn-active {
  background-color: #007CB8;
  padding: 0 9px;
  height: 34px;
  border: 1px solid #0f6eca;
  color: #fff !important;
}

/*off canvas*/

.off-canvas-header{
  display: none;
  position: absolute;
  top:0;
  width:100%;
}
.off-canvas-mode{
  position: absolute;
  width: 100%;
}
.off-canvas-back > span{
  margin-left: 5px;
  font-size: 15px;
}
.off-canvas-back:hover{
  text-decoration: none;
  cursor: pointer;
}
