/*optional dropdown*/
.optional-dropdown {
  padding: 20px 0;
  display: none;
  position: relative; }
  .optional-dropdown .container {
    position: relative; }
  .optional-dropdown li {
    padding-bottom: 0; }
  .optional-dropdown .close {
    position: relative;
    float: right;
    width: 12px;
    height: 12px;
    background: transparent url("/images/shared/sprites.png") -143px -45px;
    cursor: pointer;
    opacity: 1;
    text-shadow: none;
    margin-right: 22px;
    filter: none; }
    .optional-dropdown .close:hover {
      background-position: -166px -45px; }
  .optional-dropdown .grey-caret {
    position: absolute;
    width: 24px;
    height: 10px;
    background: transparent url("/images/shared/sprites.png") -134px -176px;
    cursor: pointer;
    margin-top: -30px;
    left: 51px; }

/*off canvas*/
.off-canvas-header {
  display: none;
  position: absolute;
  top: 0;
  width: 100%; }

.off-canvas-mode {
  position: absolute;
  width: 100%; }

.off-canvas-back > span {
  margin-left: 5px;
  font-size: 15px; }

.off-canvas-back:hover {
  text-decoration: none;
  cursor: pointer; }

.off-canvas-content a[data-toggle=collapse]:hover {
  text-decoration: none;
  cursor: pointer;
  color: #007db8; }

.off-canvas-content a.collapsed:before {
  font-family: 'Glyphicons Halflings';
  font-size: 12px;
  -webkit-font-smoothing: antialiased;
  content: "\e080";
  color: #007db8;
  position: relative;
  top: -1px;
  right: 0;
  float: left !important;
  padding: 13px 7px 0 10px; }

a[data-toggle=collapse]:before {
  font-family: 'Glyphicons Halflings';
  font-size: 12px;
  -webkit-font-smoothing: antialiased;
  content: "\e114";
  color: #007db8;
  position: relative;
  top: 0;
  right: 0;
  float: left !important;
  padding: 13px 7px 0 10px; }

/*mobile*/
@media (max-width: 767px) {
  .inline-xs {
    display: inline !important; }

  .off-canvas-content .panel-wrapper {
    margin: 0 15px;
    border-bottom: 1px solid #aaa; }

  .images-slider .pagination-container {
    padding: 0 11px; } }
